<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
    <link rel="shortcut icon" href="/images/VByEMFTv_400x400.jpg" type="image/jpg">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>URL Shortener</h1>
    <form action="/shorten" method="POST">
        <input type="url" name="url" placeholder="Enter URL" required>
        <button type="submit">Shorten</button>
    </form>

    <h2>Shortened URLs:</h2>
    <ul>
        {% for short_url, original_url in url_mapping.items() %}
            <li><a href="/{{ short_url }}">{{ request.host_url }}{{ short_url }}</a> -> {{ original_url }}</li>
        {% endfor %}
    </ul>
</body>
</html>
